body {
    height: fit-content;
    background-image: url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#Movie-details {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

h1 {
    color: cornsilk;
    font-weight: bolder;
    text-align: center;
    font-family: Arial;
} 

h2 {
    color: burlywood;
    font-size: 30px;
    font-family: 'Lucida Sans';
    margin: 10px 0;
}

img {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

p {
    color: grey;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    margin: 5px 0;
}

button {
    color: blue;
    width: 100px;
    height: 40px;
    font-weight: bolder;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: darkcyan;
}

ul#films {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px;
}

ul#films li {
    color: white;
    font-size: 18px;
    margin: 5px 0;
    cursor: pointer;
}

ul#films li:hover {
    color: darkcyan;
}
